body {
  margin: 0;
  padding: 0;
  background: rgb(19, 0, 19);
  color: #e3e3e9;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
